@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root, #root > div {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282832;
  color: white;
}

.inputForm { 
    @apply w-full rounded-sm outline-black text-black placeholder:text-black p-1;
}

.friendButtons { 
    @apply px-2 py-1 m-2 border-2 border-gray-800 rounded-xl text-white text-lg;
}

.eclipso { 
  background: linear-gradient(90deg, rgba(255, 64, 64, 1) 0%, rgba(199, 158, 87, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#lock { 
  background: linear-gradient(90deg, rgba(255, 64, 64, 1) 0%, rgba(199, 158, 87, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}